<!DOCTYPE html>
<html>
  <head>
    <title>Project Name | Austin Stitz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css"></link>
  </head>
  <body>

    <div class="nav">
      <a href="/" class="logo-container"><img class="logo-small" src="/logo.png"/></a>
      <div class="float">
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <div class="header">
      <div class="header-content">
        <h1>View Project: <span id="projectName">Project Name</span></h1>
      </div>
    </div>

    <div class="card first">
      <img id="thumb" width="300"/>
      <div class="mainContent">
        <h2>Description:</h2>
        <p id="description"></p>
        <br/><br/>
        <div id="linksContainer">
        <h2>Links:</h2>
        <ul id="links"></ul><br/><br/></div>
      </div>



      <div id="imgsContainer">
      <h2>Images:</h2>
      <div class="slideshow"></div>
      <br/>
      <div id="dots"></div><br/><br/></div>
      <br/>
      <h3>Tags:</h3>
      <p>Status: <span id="status"></span></p>
      <p>Website(s): <span id="websites"></span></p>
      <p>Format(s): <span id="format"></span></p>
      <p>Languages: <span id="langs"></span></p>
    </div>



    <br/>

    <script src="script.js"></script>
  </body>
</html>
