html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e8e8ff;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  border-bottom: 2px solid lime;
  z-index: 100;
}

.nav * {
  vertical-align: middle;
  height: 100%;
  margin: 0;
}

.nav a {
	display: inline-block;
  padding: 13px 20px;
  color: lime;
  text-decoration: none;
  vertical-align: middle;
  margin: auto;
  transition-duration: 0.4s;
}

.nav a:hover {
  background-color: #005500;
  color: white;
}

.nav .float {
  float: right;
}

.float a {
  padding: 31px;
}

.header {
  width: 100%;
  height: 50%;
  background-color: #000033;
  color: white;
  top: 0;
  left: 0;
}

.header-content {
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border-radius: 25px;
  background-color: rgba(0, 150, 0, 0.1);
}

.logo-small {
  width: 50px;
  border-radius: 100px;
  border: 2px solid lime;
  object-fit: cover;
  height: 50px;
  vertical-align: middle;
}

.logo-container {
  padding: 0px 10px;
}

.header-content h1 {
  display: inline-block;
  vertical-align: middle;
  padding: 0 50px;
}

.header * {
  color: white;
}

.card {
	margin: 50px;
	padding: 50px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
}

.card h3, .card h2 {
  text-align: center;
}

.card:last-of-type {
  margin-bottom: 50px;
}
